.chat {
    box-shadow: inset 0 -50px 100px 10px #ffffff;
    border: 2px dashed rgb(243, 243, 243);
    background-color: #f4f8f9;
    border-radius: 12px;
    padding-left: 10px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    height: 100%;
    width: 100%;
    flex: 1;
}