.chat {
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f4f8f9;
    box-shadow: inset 0 -50px 100px 10px #ffffff;
    border-radius: 12px;
    border: 2px dashed rgb(243, 243, 243);
}